* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }

body {
  background: #DFF1FF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * {
    padding: 40px;
    max-width: 1200px;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
  color: #1a1a1a;
  line-height: 1.5;
}

header {
}

img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

a.btn {
    background-color: #FFE2D5;
    color: #1a1a1a;
    font-weight: bold;
    border-color: #FFE2D5;
}

a.btn:hover {
    background-color: #ffc4a9;
    text-decoration: none;
    border-color: #ffc4a9;
    color: #1a1a1a;
}


div.card {
    background-color: transparent;
    border: none;
    font-weight: bold;
}

div.card .card-title {
    font-weight: bold;
}

div.card .card-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.card a {
    width: 100px;
}

@media screen and (min-width:768px) {
    div.card {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 20px;
    }

    div.card-reverse {
        flex-direction: row;
    }

    div.card-reverse .card-body {
        padding-left: 40px;
    }

    div.card img {
        max-width: 50%;
        margin-left: 20px;
        border-radius: 8px;
        padding: 0;
        margin: 0;
    }
}



footer {
    color: #FFE2D5;
    padding-top: 40px;
}

footer, nav {
    background-color: #92CBE6;
    width: 100%;
    text-align: center;
}

footer > h1, nav > h1 {
    background-color: #92CBE6;
    width: 100%;
    text-align: center;
    color: #FFE2D5;
}

.meist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.meist-tekst {
    padding: 40px;
    height: 500px;
    background-color:   #92CBE6;
    width: calc(100% - 520px);
}

.meist-pilt {
    width: 500px;
    height: 500px;
    padding-right: 20px;
    overflow: hidden;
    margin-right: -20px;
}

@media screen and (max-width: 768px) {
    .meist {
        flex-direction: column;
        height: auto;
        padding: 40px;
    }
    .meist-tekst, .meist-pilt {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: -10px;
    }
    .meist-pilt {
        padding: 0;
        padding-top:20px;
        margin: 0;
        margin-top:-20px;
    }
    
}

.social {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.social img {
  border-radius: 100%;
  width: 20px; height: 20px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}